<!DOCTYPE html>
<html>
<head>
    <title>CSV Data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
